* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --lg: 2rem;
    --base: 1rem;
    --sm: 1.5rem;
}

html,
body {
    height: 100%;
    width: 100%;
}

.infoBox {
    max-width: 80%;
    padding: 20px;
    background-color: lightblue;
    border-radius: 22px;

    h2 {
        font-size: var(--lg);
    }

    p {
        font-size: var(--base);
    }

    ul {

        li {
            font-size: var(--base);
        }

    }
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(214, 255, 214);
}

#panel {
    height: 90%;
    width: 90%;
    background-color: rgb(155, 255, 155);
    border-radius: 22px;
    overflow: hidden;
}

nav {
    background-color: rgb(29, 129, 29);
}

.smBox {
    background-color: white;
    border-radius: 4px;
    padding: 0 12px;
    color: green;
    font-size: 23px;
    font-weight: 700;
}

.bubble {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(102, 197, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
}

.bubble:hover {
    background-color: rgb(93, 180, 93);
}

section::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    background-color: green;
}

section::-webkit-scrollbar-track {
    background-color: rgb(85, 226, 85);
}

section::-webkit-scrollbar-thumb {
    background-color: rgb(29, 129, 29);
    border-radius: 22px;
}

.startBtn {
    padding: 11px 22px;
    border-radius: 11px;
    background-color: rgb(85, 226, 85);
    font-size: var(--sm);
    font-weight: 500;
    color: honeydew;
    cursor: pointer;
    display: flex;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.startBtn:hover {
    background: linear-gradient(135deg, rgb(85, 226, 85) 0%, rgb(85, 226, 85) 5%, rgb(85, 226, 85) 5%, rgb(85, 226, 85) 42%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 53%, rgb(85, 226, 85) 59%, rgb(85, 226, 85) 100%);
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 380%;
    animation: light 2s ease infinite;
    -webkit-animation: light 1s ease infinite;
}

.restart,
.exit {
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
}

.restart:hover {
    color: green;
}

.exit:hover {
    color: red;
}

/* worng option animation */
.worng {
    animation: shake-animation 2s ease infinite;
    transform-origin: 50% 50%;
    background-color: red;
    color: white;
}

@keyframes shake-animation {
    0% {
        transform: translate(0, 0)
    }

    1.78571% {
        transform: translate(5px, 0)
    }

    3.57143% {
        transform: translate(0, 0)
    }

    5.35714% {
        transform: translate(5px, 0)
    }

    7.14286% {
        transform: translate(0, 0)
    }

    8.92857% {
        transform: translate(5px, 0)
    }

    10.71429% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(0, 0)
    }
}

/* right option animation */
.right {
    background: linear-gradient(135deg, green 0%, green 5%, green 5%, green 42%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 53%, green 59%, green 100%);
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 380%;
    animation: light 2s ease infinite;
    -webkit-animation: light 300ms ease infinite;
}

@keyframes light {
    0% {
        background-position: -600px;
    }

    100% {
        background-position: 0px;
    }
}

@-webkit-keyframes light {
    0% {
        background-position: -600px;
    }

    100% {
        background-position: 0px;
    }
}

@media (min-width:992px) {
    :root {
        --lg: 3rem;
        --base: 2rem;
    }
}